@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
  
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  html {
    @apply h-full bg-gradient-to-b from-black  to-[#1F0027];
  }
  body {
    @apply min-h-full bg-gradient-to-b from-black via-black to-[#1F0027];
  }
  li {
    @apply cursor-pointer whitespace-nowrap text-white/70;
  }

  button {
    @apply cursor-pointer whitespace-nowrap;
  }
  img {
    @apply inline-block w-full;
  }
  input {
    @apply h-[60px] p-3 bg-transparent rounded-md text-lg outline outline-white/30;
  }
  p {
    @apply text-white/70;
  }

  video {
    @apply min-w-full object-fill;
  }

  select {
    @apply my-0 mx-auto block outline-none w-full text-2xl rounded-sm bg-[rgba(255,255,255,0.12)] text-white
  }
}
